<!-- app/views/dashboard/show.html.erb -->
<div class="mx-auto max-w-screen-xl px-20 space-y-6 bg-black/5 rounded-2xl">
  <!-- モーダル表示エリア -->
  <div id="modal_area"></div>
  <!-- キャラ育成エリア -->
  <div id="character_" class="relative inline-block w-[500px] h-auto">
    <!-- 背景 -->
    <%= image_tag "background.png", alt: "背景", class: "block w-full h-auto" %>

    <!-- キャラ + ステータス -->
    <div class="absolute bottom-0 left-0 flex items-center px-12 w-full">
      <!-- キャラクター画像-->
      <div id="character_image" class="mr-auto">
        <% if @appearance.present? %>
          <%= image_tag @appearance.asset_path, alt: "キャラクター", width: 256, height: 256, class: "block" %>
        <% else %>
          <div class="text-gray-500">キャラクターがいません</div>
        <% end %>
      </div>

      <!-- ステータス -->
      <% if current_user.active_character %>
        <div class="w-1/2 bg-white p-4 rounded-lg shadow">
          <%= render "characters/status", character: current_user.active_character %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="food_controls" class="mt-0 flex justify-end items-center space-x-2">
    <%= render "characters/food_controls", food_count: current_user.food_count %>
  </div>

  <div class="grid grid-cols-2 gap-5">
      <!-- TODO一覧 -->
    <section class="space-y-2">
      <div class="w-ful ">
        <h3 class="text-lg font-bold mb-2">TODO一覧</h3>
        <%= render "tasks/todolist", tasks: @todos, kind: :todo %>
      </div>
    </section>

    <!-- 習慣一覧 -->
    <section class="space-y-3">
      <div class="w-ful ">
        <h3 class="text-lg font-bold mb-2">習慣一覧</h3>
        <%= render "tasks/todolist", tasks: @habits, kind: :habit %>
      </div>
    </section>
  </div>

</div>
