<!-- app/views/dashboard/show.html.erb -->
<div class="mx-auto max-w-screen-xl px-20 space-y-6 bg-black/5 rounded-2xl">
  <!-- モーダル表示エリア -->
  <div id="modal_area"></div>
  <!-- キャラ育成エリア -->
  <div id="character_" class="relative inline-block w-[500px] h-auto">
    <% if current_user.active_character.dead? %>
      <!-- 死亡時専用ビュー -->
      <div class="bg-black w-full h-full flex flex-col items-center justify-center rounded-2xl p-8 text-center">
        <%= image_tag "death.png", alt: "十字架", width: 200, height: 200, class: "mx-auto mb-4" %>
        <p class="text-white text-xl font-bold">
          <%= current_user.active_character.character_kind.name %> は死亡しました。
        </p>

        <%= button_to "リセットする", reset_characters_path, method: :post, class: "mt-3 rounded-lg bg-pink-600 px-4 py-2 text-white hover:bg-pink-700" %>
      </div>
    <% else %>
      <!-- 通常時専用ビュー -->
      <%= image_tag "background.png", alt: "背景", class: "block w-full h-auto" %>
  
      <!-- キャラ + ステータス -->
      <div class="absolute bottom-0 left-0 flex items-center px-12 w-full">
        <!-- キャラクター画像-->
        <div id="character_image" class="mr-auto">
          <% if @appearance.present? %>
            <%= image_tag @appearance.asset_path, alt: "キャラクター", width: 256, height: 256, class: "block" %>
          <% else %>
            <div class="text-gray-500">キャラクターがいません</div>
          <% end %>
        </div>

        <!-- ステータス -->
        <% if current_user.active_character %>
          <div class="w-1/2 bg-white p-4 rounded-lg shadow">
            <%= render "characters/status", character: current_user.active_character %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="mt-0 flex justify-end items-center space-x-2">
    <%= button_to "エサをあげる",
                  feed_characters_path,
                  method: :post,
                  class: "rounded-lg bg-orange-500 px-4 py-2 text-white hover:bg-pink-600 disabled:opacity-50",
                  disabled: current_user.food_count.to_i <= 0 %>
    <%= image_tag "food.png", alt: "えさ", width: 30, height: 30, class: "" %>
    <p class="text-sm text-gray-700">× <%= current_user.food_count %></p>
  </div>

  <div class="grid grid-cols-2 gap-5">
      <!-- TODO一覧 -->
    <section class="space-y-2">
      <div class="w-ful ">
        <h3 class="text-lg font-bold mb-2">TODO一覧</h3>
        <%= render "tasks/todolist", tasks: @todos, kind: :todo %>
      </div>
    </section>

    <!-- 習慣一覧 -->
    <section class="space-y-3">
      <div class="w-ful ">
        <h3 class="text-lg font-bold mb-2">習慣一覧</h3>
        <%= render "tasks/todolist", tasks: @habits, kind: :habit %>
      </div>
    </section>
  </div>

</div>
