<!-- app/views/tasks/_form.html.erb -->
<%= form_with model: task, local: true, class: "space-y-8" do |f| %>
  <%= f.hidden_field :kind %>


  <!-- タイトル（モデル連動） -->
  <div>
    <%= f.label :title, "タイトル", class:"block text-sm font-bold mb-1" %>
    <%= f.text_field :title, 
        class: "block w-full rounded-lg border border-gray-300 px-3 py-2 text-base
              placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-green-200",
        placeholder: "毎日 5時半に起きる" %>
  </div>

  <!-- レベル（難易度：モデル連動） -->
  <div>
    <%= f.label :difficulty, "レベル", class: "block text-sm font-medium mb-1" %>
    <%= f.select :difficulty,
      [['1（やさしい）', 'easy'],
       ['2（ふつう）',   'normal'],
       ['3（難しい）',   'hard']],
      { include_blank: false },
      class: "block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-base
              focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <!-- タグ（未実装のダミー。将来はタグ機能に接続） -->
  <div>
    <%= f.label :tag, "タグ", class: "block text-sm font-medium mb-1" %>
    <%= f.text_field :tag,
      class: "block w-full rounded-lg border border-gray-300 px-3 py-2 text-base
              placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500",
      placeholder: "タグを追加" %>
  </div>


  <!-- 期限(TODO専用) -->
  <% if task.todo? %>
    <div>
      <%= f.label :due_on, "期限", class: "block text-sm font-medium mb-1" %>
      <%= f.date_field :due_on,
        class: "block w-full rounded-lg border border-gray-300 px-3 py-2 text-base
                focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>
  <% end %>

  <!-- 繰り返し(habit専用) -->
  <% if task.habit? %>
    <!-- 曜日チェックボックス-->
    <div data-controller="repeat-rule">
      <%= f.label :repeat_rule, "繰り返し", class: "block text-sm font-medium text-gray-700" %>
      
      <div class="flex gap-3 mt-2">
        <% %w[月 火 水 木 金 土 日].each do |day| %>
          <label class="inline-flex items-center">
            <%= check_box_tag "task[repeat_rule][days][]",
                              day,
                              Array(@task.repeat_rule&.dig("days")).include?(day),  #編集画面で既存の選択を復元
                              class: "rounded text-lime-500",
                              data: { "repeat-rule-target": "checkbox",
                                      action: "change->repeat-rule#toggle" } %>
            <span class="ml-1"><%= day %></span>
          </label>
        <% end %>
      </div>
      <!-- 選択結果の表示 -->
      <p class="mt-2 text-sm text-gray-500" data-repeat-rule-target="output">未選択</p>
    </div>

  <% end %>

  <!-- 目標(habit専用) -->
  <% if task.habit? %>
    <%= f.label :target_value, "目標" %>
    <!-- 目標入力モーダル -->
    <%= render "tasks/goal_modal", f: f, task: task %>
  <% end %>
    


  <!-- アクション -->
  <div class="flex items-center gap-3">
    <%= f.submit "保存",
        class: "inline-flex items-center justify-center rounded-full px-10 py-3
                font-bold text-white shadow-sm
                bg-lime-400 hover:bg-lime-500/90
                transition focus:outline-none focus:ring-lime-800" %>

    <% if task.persisted? %>
      <%= link_to "削除", task_path(@task),
          data: {  turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
          class: "bg-red-400 text-white font-bold px-10 py-3 rounded-full hover:bg-red-500" %>
    <% end %>
  </div>
<% end %>