<%= turbo_stream.replace "flash_messages" do %>
  <%= render "layouts/flash" %>
<% end %>

<%= turbo_stream.replace "pet_comment_area" do %>
  <%= render "shared/pet_comment", message: flash.now[:pet_comment] %>
<% end %>

<%= turbo_stream.replace dom_id(@task) do %>
  <li id="<%= dom_id(@task) %>">
    <%= render "tasks/task_item", task: @task %>
  </li>
<% end %>

<%= turbo_stream.replace "character_status" do %>
  <%= render "characters/status", character: current_user.active_character %>
<% end %>

<% if @hatched %>
  <%= turbo_stream.replace "character_image" do %>
    <%= render "characters/image", appearance: @appearance %>
  <% end %>
  <%= turbo_stream.append "modal_area" do %>
    <%= render "modals/egg_hatched", character: current_user.active_character %>
  <% end %>
<% elsif @evolved %>
  <%= turbo_stream.replace "character_image" do %>
    <%= render "characters/image", appearance: @appearance %>
  <% end %>
  <%= turbo_stream.append "modal_area" do %>
    <%= render "modals/character_evolved", character: current_user.active_character %>
  <% end %>
<% end %>

<% if @task.todo? && @task.done? %>
  <%= turbo_stream.remove dom_id(@task) %>
<% end %>

<%= turbo_stream.replace dom_id(current_user, :food_counter) do %>
  <%= render "dashboard/food_counter", user: current_user %>
<% end %>

<% if @unlocked_titles.present? %>
  <%= turbo_stream.append "modal_area" do %>
    <%= render "modals/title_unlocked", titles: @unlocked_titles %>
  <% end %>
<% end %>