<header class="w-full bg-gray-100 py-3 px-8 flex items-center justify-between border-b border-gray-400">

  <!-- 左: ロゴ -->
  <div class="text-3xl font-extrabold tracking-widest">LOGO</div>

    <nav style="margin: 2px 0;">
      <ul class="flex items-center gap-x-3">
        <li class="flex flex-col items-center mx-4">
          <i class="fa-regular fa-house fa-2x mb-1"></i>
          <%= link_to "ホーム", dashboard_show_path, class: "text-base font-bold" %>
        </li>
        <li class="flex flex-col items-center mx-4">
          <i class="fa-solid fa-chart-simple fa-2x mb-1"></i>
          <%= link_to "グラフ", dashboard_show_path, class: "text-base font-bold" %>
        </li>
        <li class="flex flex-col items-center mx-4">
          <i class="fa-regular fa-address-book fa-2x mb-1"></i>
          <%= link_to "図鑑", characters_path, class: "text-base font-bold" %>
        </li>
        <li class="flex flex-col items-center mx-4">
          <i class="fa-solid fa-gear fa-2x mb-1"></i>
          <%= link_to "設定", dashboard_show_path, class: "text-base font-bold" %>
        </li>
          <li class="flex flex-col items-center mx-4">
          <i class="fa-regular fa-circle-user fa-2x mb-1"></i>
          <%= link_to "プロフィール", dashboard_show_path, class: "text-base font-bold" %>
        </li>
      </ul>
    </nav>

  <% if user_signed_in? %>
    <nav>
      <ul class="flex items-center space-x-8">
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-base" %>
        </li>
      </ul>
    </nav>
  <% else %>
    <nav>
      <ul class="flex items-center space-x-6">
        <li>
          <%= link_to new_user_registration_path, class: "flex items-center bg-yellow-200 hover:bg-yellow-300 text-black font-bold text-base rounded-2xl px-8 py-4 ml-4 transition" do %>
            <span class="mr-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="inline w-7 h-7" fill="currentColor" viewBox="0 0 20 20"><path d="M10 10a4 4 0 100-8 4 4 0 000 8zm-7 8a7 7 0 1114 0H3z"/></svg>
            </span>
            新規登録
          <% end %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path, class: "text-base font-bold" %>
        </li>
      </ul>
    </nav>
  <% end %>
</header>